body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px;
    color: #444;
}

h2 {
    padding-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #dddddd;
}

td {
    background: #ffffff;
}

#header {
    margin: -20px 0px 30px -20px;
    padding-left: 30px;
    padding-top: 20px;

    line-height: 200%;
    background: #f0d0a8;
    border: 1px solid #ccc;
}

#header img {
    vertical-align: middle;
}

#header h1 {
    display: inline;
}

.panel {
    margin-bottom: 20px;
    padding: 10px;

    line-height: 200%;
    background: #dce9f9;
    border: 1px solid #ccc;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#lean_overlay {
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #000;
    display: none;
}

.progress {
    display: none;
    position: relative;
    width: 100%;
    border: 1px solid #ddd;
    padding: 1px;
    border-radius: 3px;
}

.bar {
    background-color: #B4F5B4;
    width: 0%;
    height: 20px;
    border-radius: 3px;
}

.percent {
    position: absolute;
    display: inline-block;
    top: 3px;
    left: 48%;
}
